# Fichiers de build generes par Android et Gradle
.gradle/
build/
app/build/

# Fichiers de configuration locale (cles secretes, chemins PC)
local.properties

# Fichiers d'environnement Android Studio / IntelliJ (Bloque tout le dossier d'un coup)
.idea/
*.iml
*.ipr
*.iws

# Dossiers temporaires de Kotlin
.kotlin/

# Fichiers systeme specifiques (Mac / Windows)
.DS_Store
Thumbs.db

# Captures d'ecran et logs
/captures/
*.log

# Signatures et Keystores (Securite Android)
*.jks
*.keystore
*.p12

*.apk
/app/release/

# Ignorer tous les fichiers de metadonnees Dex (.dm)
*.dm